
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: black;
  }
  .card {
    width: 640px;
    height: 400px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
  }
  .card:hover {
    transform: rotate(-5deg);
  }
  .card:hover .outside {
    transform: rotateY(-130deg);
  }
  .outside,
  .inside {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50.1%;
  }
  .inside {
    background: linear-gradient(to right, #E37383, #FFB6C1 30%);
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 50%;
  }
  .outside {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
    cursor: pointer;
  }
  .front,
  .back {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    background-image: url("images/Untitled_Artwork.png")
  }
  .front {
    background-color: #FFB6C1;
  }
  .back {
    transform: rotateY(180deg);
    background: linear-gradient(to left, #E37383, #FFB6C1 30%);
  }
  .back {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    padding: 10px;
  }
  
  .back img {
    max-width: 90%; /* Ensures the image doesn't overflow */
    height: auto;
    margin: 0 auto; /* Centers the image */
  }
  .outside p {
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 6px;
    color: #000046;
  }
  .back p{
    font-size: 10px;
  }
  .text{
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 6px;
    color: #000046;
  }
  .cake img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 60%;
  }
  .images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px; /* Adjust spacing between images */
  }
  
  .images-container img {
    width: 40%;
    height: auto;
  }